@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Dosis:wght@200;300;400;500;600&family=Exo+2:wght@100;200;300;400&family=Hammersmith+One&family=Julius+Sans+One&family=Nanum+Pen+Script&family=Outfit:wght@100;200;300;400;500;700&family=Play:wght@400;700&family=Silkscreen&family=Titillium+Web:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
*/

body{
    background: #ffffff;
    background-size: cover;
    margin: 0;
}

h1{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Hammersmith One', sans-serif;
}

h3{
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.2em;
}

h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.05em;
    line-height: 1.4em;
}

p strong{
    font-weight: 400;
}

nav{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    font-family: 'Play', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    padding-bottom: 5px;
}

.navDiv{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    vertical-align: middle;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    padding-left: 50px;;
}

a{
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border-radius: 10px;
}

a:visited{
    color: #000000;
}

.projectIntro{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 40px;
}

.title{
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: center;
    justify-self: center;
    margin-top: 60px;
}


.basicInfo{
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
    align-self: flex-end;
}

.basicInfo div{
    margin-top: -5px;;
}

.introText{
    grid-column: 3 / span 3;
    grid-row: 2;
    justify-self: end;
    text-align: center;
    margin-left: 30px;
    align-self: flex-end;
}

.introText p{
    text-align: justify;
}

.introLink a{
    font-style: italic;
}

.introLink a:hover{
    text-decoration: underline;
}

.projectIntro p{
    margin-top: -18px;
}

.research{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.research p{
    text-align: justify;
}

.problemList{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.problem{
    text-align: center;
    width: 220px;
}

.problem h3{
    font-size: 1em;
    font-weight: 300;
}

.flexImg{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.findingImage{
    margin-top: -18px;
}

.process{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

.process h2{
    margin-top: 50px;
}

.process p{
    text-align: justify;
}

.hifiPrototype{
    background-color: #F4F1EB;
}

.prototypeContainer{
    width: 70%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: -5px;
}

.middle{
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.left1{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.right1{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-self: center;
}

.left2{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    justify-self: center;
}

.right2{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.left3{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.right3{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    justify-self: center;
}

.left4{
    grid-column: 1;
    grid-row: 5;
    text-align: center;
    justify-self: center;
}

.right4{
    grid-column: 2;
    grid-row: 5;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.prototypeContainer2{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: -5px;
}

.prototypeContainer2 p{
    text-align: justify;
}

.pillBoxContainer{
    width: 70%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: -5px;
}

.pillBoxContainer div{
    align-self: flex-end;
}

.middle2{
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
}

.reflection{
    width: 75%;
    margin: auto;
    text-align: center;
}

footer{
    background-color: #0c0c0c;
    height: 10vh;
    align-items: center;
    margin-top: 50px;
}

.footerContainer{
    display:flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

footer a, footer a:visited{
    color: #bcbcbc;
}

footer p{
    font-size: 1em;
    color: #bcbcbc;
    margin-left: 5px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.footerSection{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    margin-top: 15px;
}

.footerSection a:hover{
    background-color: #0c0c0c;
}

