@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Dosis:wght@200;300;400;500;600&family=Exo+2:wght@100;200;300;400&family=Hammersmith+One&family=Julius+Sans+One&family=Nanum+Pen+Script&family=Outfit:wght@100;200;300;400;500;700&family=Play:wght@400;700&family=Silkscreen&family=Titillium+Web:wght@300;400;600&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

header{
    text-align: center;
}

body{
    background: #0c0c0c;
    background-size: cover;
    margin: 0;
}

.work{
    position: absolute;
    bottom: 8%;
    left: 45%;
    z-index: 10;
    cursor: pointer;
}

.playground{
    position: absolute;
    top: 45%;
    left: 4%;
    cursor: pointer;
    z-index: 10;
}

.about{
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 4%;
    z-index: 10;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}

h2{
    color: whitesmoke;
    font-size: 1.55em;
    font-weight: 300;
    font-family: 'Play', sans-serif;
}

h3{
    font-family: 'Play', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 1.35em;
}

p{
    color: #f5f5f5;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
}

a:visited{
    color: #f5f5f5;
}

a:hover{
    color:black;
    background-color: #ffe23f;
}

/*
.work a{
    color:rgb(255, 226, 63);
    background-color: rgb(17, 17, 17);
}

.work a:hover{
    color:rgb(255, 226, 63);
    background-color: rgb(17, 17, 17);
}
*/
.name{
    display: flex;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
}

.brief{
    font-family: 'Exo 2', sans-serif;
}

.brief span{
    color: #ffe23f;
    font-weight: 400;
}

.brief2 span{
    color: #fae56f;
}

.speaker{
    width: 10%;
    margin-left: 0.8em;
    cursor: pointer;
}

.introtext{
    position: relative;
    margin-right: -3em;
    margin-left: 2em;
    margin-top: 1em;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 0.75fr 2fr 0.5fr 2fr 0.75fr;
    grid-template-rows: 1fr 0.75fr 1fr;
    margin-top: 400px;
    margin-bottom: 90px;
}

.smartMEDs{
    grid-column: 2;
    grid-row: 1;
}

.locoRoco{
    grid-column: 4;
    grid-row: 1;
}

.fantasyCity{
    grid-column: 2;
    grid-row: 3;
}

.popMeal{
    grid-column: 4;
    grid-row: 3;
}

.projectPreview{
    display: flex;
    background-color: #def3ff;
    width: 75%;
    height: 21vh;
    cursor: pointer;
    border-radius: 30px;
    justify-self: start;
}

.descriptionText{
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 5px;
}

.descriptionText p{
    color:black;
    font-size: 1.1em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.thumbnail{
    margin-right: -140px;
}

.projectPreview:hover{
    width: 75.6%;
}

footer{
    display: grid;
    width: 100%;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    background-color: #121318;
    height: 10vh;
}

footer p{
    font-size: 1em;
    margin-left: 10px;
}

.footerSection a{
    font-family: 'Exo 2', sans-serif;
}

.footerSection a:hover{
    color: whitesmoke;
    background-color: #121318;
}

.email{
    grid-column: 2;
}

.cellphone{
    grid-column: 3;
}

.resume{
    grid-column: 4;
}

.footerSection{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}