@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Dosis:wght@200;300;400;500;600&family=Exo+2:wght@100;200;300;400&family=Hammersmith+One&family=Julius+Sans+One&family=Nanum+Pen+Script&family=Outfit:wght@100;200;300;400;500;700&family=Play:wght@400;700&family=Silkscreen&family=Titillium+Web:wght@300;400;600&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

header{
    text-align: center;
}

body{
    background: rgb(17, 17, 17);
    background-size: cover;
    margin: 0;
}

.work{
    position: absolute;
    bottom: 9%;
    left: 45%;
    z-index: 10;
}

.playground{
    position: absolute;
    top: 45%;
    left: 4%;
    cursor: pointer;
    z-index: 10;
}

.about{
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 4%;
    z-index: 10;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}

h2{
    color: whitesmoke;
    font-size: 1.55em;
    font-weight: 300;
    font-family: 'Play', sans-serif;
}

h3{
    color: whitesmoke;
    font-weight: 200;
}

p{
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

a:visited{
    color: whitesmoke;
}

a:hover{
    color:black;
    background-color: rgb(255, 226, 63);
}

.name{
    display: flex;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
}

.brief{
    font-family: 'Exo 2', sans-serif;
}

.brief span{
    color: rgb(255, 226, 63);
    font-weight: 400;
}

.brief2 span{
    color: rgb(250, 229, 111);
}

.speaker{
    width: 10%;
    margin-left: 0.8em;
    cursor: pointer;
}

.introtext{
    position: relative;
    margin-right: -3em;
    margin-left: 2em;
    margin-top: 1em;
}

.works{
    display: block;
    margin-top: 20em;
    padding-top: 2em;
    margin-bottom: 5em;
}

.works div{
    margin-top: 3em;
}

.smartMEDs{
    background-color: white;
    width: 60%;
    height: 25vh;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
}

.locoRoco{
    background-color: black;
    border-radius: 30px;
    width: 60%;
    height: 25vh;
    margin: auto;
    cursor: pointer;
}

.fantasyCity{
    background-color: white;
    width: 60%;
    height: 25vh;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
}

.popMeal{
    background-color: white;
    width: 60%;
    height: 25vh;
    margin: auto;
    cursor: pointer;
    border-radius: 30px;
}

.projectSmall{
    display: flex;
    justify-content: space-between;
}

.descriptionText{
    position: relative;
    margin-top: -10px;
    margin-left: 30px;
}

.thumbnail{
    position: relative;
    margin-top: -60px;
}

.projectSmall:hover .thumbnail{
    position: relative;
    height: 260px;
    margin-top: -70px;
    /* margin-right: -20px; */
}
